exportPattern("^[[:alpha:]]+")
import(pracma)
import(scales)
import(spdep)
import(stats)
import(truncnorm)
importFrom("grDevices", dev.off, png, rainbow)
importFrom("graphics", legend, lines, par, points, text)
importFrom("utils", write.csv)
